.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  h2 {
    margin-bottom: 16px;
  }
  p {
    width: 600px;
    margin: auto;
    margin-bottom: 32px;
  }
}

.about-content {
  padding: 42px 50px;
  background: linear-gradient(-30deg, rgba(255,255,255,0.8) 0%, rgba(238,238,238,1) 25%, rgba(238,238,238,1) 50%, rgba(238,238,238,1) 75%, rgba(255,255,255,0.8) 100%);
}

.tasks {
  display: flex;
  margin: auto;
  width: 65%;
  justify-content: space-between;
  img {
    width: 150px;
    margin-bottom: 12px;
  }
}
