// Tablet landscape
@media (min-width: 1024px) {
  .main-section {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    img {
      height: 90vh;
    }
  }
  .main-header {
    position: absolute;
    left: 49%;
    top: 40%;
    h1 {
      font-size: 60px;
      letter-spacing: 10px;
      color: $dark-gray;
      text-transform: uppercase;
      font-weight: lighter;
    }
    h3 {
      font-size: 28px;
    }
    h5 {
      color: #fff;
      background: #abc8e6;
      font-size: 16px;
      padding: 2px 10px;
    }
  }
}

// Mobile Portrait
@media (max-width: 768px) {
  .main-section {
    img {
      height: 60vh;
      position: absolute;
      bottom: 0;
    }
  }
  .main-header {
    left: 11%;
    top: 10%;
    h5 {
      display: none;
    }
  }
}

// Mobile Landscape + Tablet portrait (768px)
@media (min-width: 640px) and (max-width: 1023px) {

}



// Large screens
@media (min-width: 1200px) {

}
