.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 100px;
  h2 {
    margin-bottom: 24px;
  }
  img {
    width: 40px;
    margin-right: 12px;
  }
}

.skills-content {
  padding: 60px;
  background: linear-gradient(-30deg, rgba(255,255,255,0.8) 0%, rgba(238,238,238,1) 25%, rgba(238,238,238,1) 50%, rgba(238,238,238,1) 75%, rgba(255,255,255,0.8) 100%);
}

.skills-list {
  display: flex;
}

.skills-subsection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 16px;
  h4 {
    margin: 0 auto 12px;
  }
  div {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 8px;
  }
}
