.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 100px;
  // border-bottom: 7px dotted #F5F5F5;
  h2 {
    margin-bottom: 32px;
  }
}

.skills-content {
  padding: 60px;
  width: 75%;
  border-radius: 9px;
  background: linear-gradient(-30deg, rgba(255,255,255,0.8) 0%, rgba(238,238,238,1) 25%, rgba(238,238,238,1) 50%, rgba(238,238,238,1) 75%, rgba(255,255,255,0.8) 100%);
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 8px;
}

.skills-subsection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h4 {
    margin: 0 auto 12px;
  }
  li {
    list-style-type: none;
  }
  li:before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin:0 5px 0 -15px;
    color: $dark-gray;
  }
}

.skill-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    object-fit: contain;
    height: 70px;
    margin-bottom: 12px;
  }
}

.skills-sublist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
}

@media (max-width: 768px) {
  .skills-content {
    background: transparent;
    width: 100vw;
    padding: 40px;
    h2 {
      padding-top: 68px;
      font-size: 30px;
    }
  }
  .skills-list {
    justify-content: space-between;
    flex-direction: column;
  }
  .skills-subsection {
    flex-direction: row;
    margin: 0 0 24px 24px;
    align-items: center;
  }
  .skill-title {
    width: 110px;
    h4 {
      font-size: 20px;
    }
  }
  .skills-sublist {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding-left: 60px;
  }
}

// For Iphone X
@media (max-width: 400px) and (max-height: 850px) {
  .skills-content {
    h2 {
      padding-top: 0px;
      margin-top: -18px;
    }
  }
}
