@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Alata|Lato|Montserrat|Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Josefin+Sans|Kalam|Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo|Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import "https://fonts.googleapis.com/css?family=Raleway";
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999; }

body {
  min-height: 100vh;
  padding: 0px;
  margin: 0px; }

.spin-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #eee; }
  .spin-wrapper .spinner {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: #A04668;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite; }
    .spin-wrapper .spinner:before, .spin-wrapper .spinner:after {
      content: '';
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%; }
    .spin-wrapper .spinner:before {
      border-top-color: #254E70;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      animation: spin 3s linear infinite; }
    .spin-wrapper .spinner:after {
      border-top-color: #FFFBFE;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      animation: spin 4s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#navbar {
  z-index: 2000;
  list-style: none;
  display: inline;
  position: fixed;
  top: 0;
  right: 0;
  transition: background-color 0.5s ease-out;
  padding: 24px 6px 18px; }
  #navbar li {
    display: inline;
    padding: 10px 10px; }

.scroll {
  background: #eee; }

.nav-container {
  font-family: Raleway;
  margin: 0 auto;
  width: 100%;
  padding: 24px 6px;
  text-align: right; }
  .nav-container a {
    color: #9e9e9e;
    text-decoration: none;
    text-transform: uppercase;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 8px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer; }

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s; }

div.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px); }

div.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px); }

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px); }

/* Top and Bottom borders come in */
div.topBotomBordersIn a:before, div.topBotomBordersIn a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s; }

div.topBotomBordersIn a:before {
  top: 0px;
  transform: translateY(-10px); }

div.topBotomBordersIn a:after {
  bottom: 0px;
  transform: translateY(10px); }

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after {
  opacity: 1;
  transform: translateY(0px); }

/* Top border go down and Left border appears */
div.topLeftBorders a:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 0px;
  background: #FFF;
  content: "";
  opacity: 1;
  transition: all 0.3s; }

div.topLeftBorders a:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 1;
  transition: all 0.3s; }

div.topLeftBorders a:hover:before {
  height: 100%; }

div.topLeftBorders a:hover:after {
  opacity: 0;
  top: 100%; }

/* Circle behind */
div.circleBehind a:before, div.circleBehind a:after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #0277bd;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1; }

div.circleBehind a:after {
  border-width: 2px;
  transition: all 0.4s; }

div.circleBehind a:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1); }

div.circleBehind a:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3); }

/* Brackets go out */
div.brackets a:before, div.brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 35px;
  top: 0px;
  transition: all 0.3s; }

div.brackets a:before {
  content: '(';
  left: 0px;
  transform: translateX(10px); }

div.brackets a:after {
  content: ')';
  right: 0px;
  transform: translateX(-10px); }

div.brackets a:hover:before, div.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px); }

/* Border from Y to X  */
div.borderYtoX a:before, div.borderYtoX a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: #FFF;
  transition: all 0.3s; }

div.borderYtoX a:before {
  left: 0px;
  top: 0px; }

div.borderYtoX a:after {
  right: 0px;
  bottom: 0px; }

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%; }

/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #FFF;
  transition: all 0.3s; }

div.borderXwidth a:before {
  left: 0px;
  top: 0px; }

div.borderXwidth a:after {
  right: 0px;
  bottom: 0px; }

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after {
  opacity: 1;
  width: 100%; }

/* Pull down  */
div.pullDown a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  top: 0px;
  content: '';
  background: #9e9e9e;
  opacity: 0.3;
  transition: all 0.3s; }

div.pullDown a:hover:before {
  height: 100%; }

/* Pull up  */
div.pullUp a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 0px;
  content: '';
  background: #FFF;
  opacity: 0.3;
  transition: all 0.3s; }

div.pullUp a:hover:before {
  height: 100%; }

/* Pull right  */
div.pullRight a:before {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: '';
  background: #9e9e9e;
  opacity: 0.3;
  transition: all 0.3s; }

div.pullRight a:hover:before {
  width: calc(100% + 24px); }

/* Pull left  */
div.pullLeft a:before {
  position: absolute;
  width: 2px;
  height: 100%;
  right: 0px;
  top: 0px;
  content: '';
  background: #9e9e9e;
  opacity: 0.3;
  transition: all 0.3s; }

div.pullLeft a:hover:before {
  width: calc(100% + 24px); }

/* Pull up and down  */
div.pullUpDown a:before, div.pullUpDown a:after {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  content: '';
  background: #FFF;
  opacity: 0.3;
  transition: all 0.3s; }

div.pullUpDown a:before {
  top: 0px; }

div.pullUpDown a:after {
  bottom: 0px; }

div.pullUpDown a:hover:before, div.pullUpDown a:hover:after {
  height: 100%; }

/* Pull right and left  */
div.pullRightLeft a:before, div.pullRightLeft a:after {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0px;
  content: '';
  background: #FFF;
  opacity: 0.3;
  transition: all 0.3s; }

div.pullRightLeft a:before {
  left: 0px; }

div.pullRightLeft a:after {
  right: 0px; }

div.pullRightLeft a:hover:before, div.pullRightLeft a:hover:after {
  width: 100%; }

/* Highlight text out  */
div.highlightTextOut a {
  color: rgba(255, 255, 255, 0.3); }

div.highlightTextOut a:before, div.highlightTextIn a:before {
  position: absolute;
  color: #FFF;
  top: 0px;
  left: 0px;
  padding: 10px;
  overflow: hidden;
  content: attr(alt);
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0; }

div.highlightTextOut a:hover:before, div.highlightTextIn a:hover:before {
  transform: scale(1);
  opacity: 1; }

/* Highlight text in  */
div.highlightTextIn a {
  color: rgba(0, 0, 0, 0.4); }

div.highlightTextIn a:before {
  transform: scale(1.2); }

@media (max-width: 768px) {
  #navbar {
    padding: 16px 0 12px 0;
    background: #fafafa; }

  .nav-container {
    text-align: center; }
    .nav-container a {
      font-size: 18px; }

  div.pullDown a:before {
    background: transparent; } }
._slider {
  position: relative;
  overflow: hidden;
  margin-left: 15px; }
  ._slider:hover ._slider_next,
  ._slider:hover ._slider_prev {
    display: block; }
  ._slider_next, ._slider_prev {
    position: absolute;
    top: 35%;
    z-index: 999;
    display: none;
    width: auto;
    height: auto;
    padding: 2% 4%;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
    opacity: 0.8;
    cursor: pointer; }
    ._slider_next:hover, ._slider_prev:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease; }
  ._slider_next {
    right: 0; }
  ._slider ul {
    position: relative;
    height: 500px;
    margin: 0;
    padding: 0;
    list-style: none; }
    ._slider ul li {
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
      background: #ccc;
      display: block;
      width: 480px;
      height: 300px;
      text-align: center; }
      ._slider ul li img {
        height: inherit; }

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center; }
  .about-section h2 {
    margin-bottom: 16px; }
  .about-section p {
    width: 600px;
    margin: auto;
    margin-bottom: 32px; }

.about-content {
  padding: 42px 50px;
  background: linear-gradient(-30deg, rgba(255, 255, 255, 0.8) 0%, #eeeeee 25%, #eeeeee 50%, #eeeeee 75%, rgba(255, 255, 255, 0.8) 100%); }

.tasks {
  display: flex;
  margin: auto;
  justify-content: space-evenly; }
  .tasks img {
    width: 150px;
    margin-bottom: 12px; }

@media (max-width: 768px) {
  .about-section p {
    width: 100%;
    margin: 0;
    margin-bottom: 32px; }
  .about-section h2:nth-child(1) {
    padding-top: 70px; }
  .about-section h2:nth-child(2) {
    margin-bottom: 18px; }

  .about-content {
    padding: 24px 42px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: transparent; }

  .tasks {
    margin: 0;
    justify-content: space-between; }
    .tasks div {
      width: 110px; }
    .tasks h4 {
      font-size: 18px; }
    .tasks img {
      width: 70px; } }
.portfolio-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center; }
  .portfolio-section h2 {
    margin-bottom: 42px; }

.portfolio-content {
  position: relative; }

.laptop {
  z-index: 1000;
  height: 348px;
  width: 625px;
  position: absolute;
  top: calc(50% - 172px);
  left: calc(50% - 308px); }

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 100px; }
  .skills-section h2 {
    margin-bottom: 32px; }

.skills-content {
  padding: 60px;
  width: 75%;
  background: linear-gradient(-30deg, rgba(255, 255, 255, 0.8) 0%, #eeeeee 25%, #eeeeee 50%, #eeeeee 75%, rgba(255, 255, 255, 0.8) 100%); }

.skills-list {
  display: flex;
  justify-content: space-between; }

.skills-subsection {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .skills-subsection h4 {
    margin: 0 auto 12px; }
  .skills-subsection div {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 8px; }
  .skills-subsection li {
    list-style-type: none; }
  .skills-subsection li:before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin: 0 5px 0 -15px;
    color: #9e9e9e; }

.skill-title {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .skill-title img {
    height: 70px;
    margin-bottom: 12px; }

.main-section {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  position: relative; }
  .main-section img {
    height: 90vh; }
  .main-section .main-header {
    position: absolute;
    left: 49%;
    top: 40%; }
    .main-section .main-header h1 {
      font-size: 60px;
      letter-spacing: 10px;
      color: #9e9e9e;
      text-transform: uppercase;
      font-weight: lighter; }
    .main-section .main-header h3 {
      font-size: 28px; }
    .main-section .main-header h5 {
      color: #fff;
      background: #abc8e6;
      font-size: 16px;
      padding: 2px 10px; }

@media (max-width: 768px) {
  .main-section img {
    height: 62vh;
    position: absolute;
    bottom: 0;
    right: -6px; }

  .main-header {
    left: 10% !important;
    top: 12% !important; }
    .main-header h5 {
      background: transparent !important;
      color: #90aed5 !important;
      padding: 4px 0 !important;
      width: 180px !important; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background: #eee;
  font-family: "Nunito", "Helvetica", "sans-serif"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", "Helvetica", "sans-serif"; }

/*# sourceMappingURL=style.css.map */
